<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benefícios</title>
    <link rel="stylesheet" href="css/motivacao.css">
    <link rel="stylesheet" href="css/formulario.css">
</head>

<body>
    <header id="cabecalho">
        <img src="img/Imagem1.png" alt="">
        <div>
            <p>Por que se tornar um doador?</p>
        </div>
    </header>

    <main id="conteudo">
        <section class="secao-1">
            <p>Uma única pessoa pode salvar mais de oito vidas!

                A doação de órgãos proporciona o prolongamento da expectativa de vida de pessoas que precisam de um
                transplante, permitindo o restabelecimento da saúde e, por consequência, a retomada das atividades
                normais. Devido ao número de partes do corpo que podem ser cedidas, cada doador pode salvar oito vidas
                ou mais.</p>
            <img src="img/download 1.png" alt="">
        </section>

        <section class="secao-2">
            <img src="img/images (1) 1.png" alt="">
            <p>Somadas, as doações de órgãos e tecidos possibilitaram que 27.688 transplantes fossem realizados em 2019,
                de acordo com o Ministério da Saúde.

                96% desses procedimentos são custeados pelo SUS (Sistema Único de Saúde), o que faz o Brasil ter o maior
                sistema público de transplantes do mundo e ser o segundo em total de cirurgias realizadas.</p>
        </section>

        <section class="secao-3">
            <p>No esforço de conscientizar a população sobre a necessidade de doar é que setembro foi estabelecido como
                o mês de incentivo à doação de órgãos com datas alusivas, como o Dia Nacional da Doação de Órgãos, em 27
                de setembro.</p>
            <img src="img/setembro-verde-laco_21384_img 1.png" alt="">
        </section>

        <div id="mainFormulario" class="input-group">
            <form class="container" action="/agradecimento" method="post">
                <button id="abrirFechar" type="button"><strong>X</strong></button>

                <label class="" for="nomeInput">Nome Completo:
                    <input id="nomeInput" type="text" name="nomeInput"></label>

                <label class="" for="data">Data de Nascimento (dia/mês/ano):</label>
                <input class="" type="date" name="idadeInput">

                <label class="" for="email">Email:</label>
                <input class="" type="email" name="emailInput">

                <label class="" for="telefone">Telefone:</label>
                <label class="tel" for="ddd">DDD:</label>
                <input style="width: 10%;" class="" type="number" name="dddInput">
                <label class="tel" for="celular">Tel:</label>
                <input style="width: 40%;" class="" type="number" name="celularInput">

                <label class="" for="endereco">Endereço:</label>
                <input class="" type="text" name="enderecoInput">

                <label class="" for="cep">CEP:</label>
                <input class="" type="number" name="CEPInput">

                <label class="" for="tipoSanguineo">Tipo sanguineo:</label>
                <label class="sangue" for="tipoA+">A+</label>
                <input class="" type="radio" name="tipoSanguineoInput" value="A+">

                <label class="sangue" for="tipoA-">A-</label>
                <input class="" type="radio" name="tipoSanguineoInput" value="A-">

                <label class="sangue" for="tipoB+">B+</label>
                <input class="" type="radio" name="tipoSanguineoInput" value="B+">

                <label class="sangue" for="tipoB-">B-</label>
                <input class="" type="radio" name="tipoSanguineoInput" value="B-">

                <br>

                <label class="sangue" for="tipoO+">O+</label>
                <input class="" type="radio" name="tipoSanguineoInput" value="O+">

                <label class="sangue" for="tipoO-">O-</label>
                <input class="" type="radio" name="tipoSanguineoInput" value="O-">

                <label class="sangue" for="tipoAB+">AB+</label>
                <input class="" type="radio" name="tipoSanguineoInput" value="AB+">

                <label class="sangue" for="tipoAB-">AB-</label>
                <input class="" type="radio" name="tipoSanguineoInput" value="AB-">

                <button type="submit">Cadastrar</button>
            </form>
        </div>
    </main>

    <footer id="rodape">
        <button id="formularioBotao" class="serdoador">Quero ser um doador</a></button>
    </footer>

    <script src="js/formulario.js"></script>
</body>

</html>