<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="css/sobre.css">
</head>

<body>
    <header id="cabecalho">
        <img src="img/Logo.svg" alt="">
        <h1>Hospital Municipal Mariana Maria de Jesus</h1>
    </header>

    <main id="conteudo">
        <img class="img-1" src="img/hospital.jpg" alt="">
        <p class="text-1">Localizado no município de Quissamã, Norte Fluminense do Rio de Janeiro, o Hospital Municipal
            Mariana Maria
            de Jesus (HMMML), oferece atendimento de Urgência e Emergência 24 horas e conta com internação em Clínica
            Médica, Pediatria, Psiquiatria, e UTI. Referência regional em Obstetrícia, a unidade oferece também um
            serviço de atenção ao pré-natal, parto e nascimento.</p>
        <p class="text-2">
            O Hospital Municipal Mariana Maria de Jesus (HMMMJ) de Quissamã tem mantido suas portas abertas à comunidade
            há quase 20 anos, sendo referência na região pelos serviços de alta qualidade. Nesta sexta-feira (22),
            antecipando as comemorações dos seus 19 anos, a unidade hospitalar, administrada pela Prefeitura de
            Quissamã, através da Secretaria Municipal de Saúde, recebeu uma celebração com direito a bolo, inauguração
            de placa em homenagem aos funcionários, culto ecumênico, café da manhã e sorteio.<br><br>

            O Hospital Municipal oferece atendimento em várias especialidades, incluindo procedimentos cirúrgicos,
            atendimentos e procedimentos de emergência, exames radiológicos e laboratoriais e tem oferecido serviços
            médicos de urgência e emergência com excelentes resultados, conforme indicado pelos indicadores de
            desempenho da unidade.<br><br>
            Em atendimentos e procedimentos de emergência, foram realizados mais de 193 mil entre janeiro e agosto deste
            ano, e mais de 670 procedimentos cirúrgicos. A unidade realizou ainda cerca de 197 mil exames laboratoriais,
            8,5 mil exames radiológicos e 1,5 mil internações. Na maternidade, foram realizados de 314 partos, sendo 87
            normais e 227 cesarianas.
        </p>
        <img class="img-2" src="img/corredor.webp" alt="">
        <p class="text-2">
            O Hospital Municipal Mariana Maria de Jesus possui uma Comissão Intra-Hospitalar de Doação de Órgãos e
            Tecidos para Transplantes (CIHDOTT), essa comissão é composta por um equipe multidisciplinar que atua de
            forma proativa na avaliação dos casos de pacientes graves no CTI e emergência com o propósito de a partir do
            diagnóstico de morte encefálica poder realizar a entrevista familiar e adquirir o consentimento da família.
            E também na avaliação dos óbitos ocorridos em até 06 horas para abordar a captação de córneas com a
            entrevista e consentimento familiar.
        </p>
        <button id="voltar">
            <a href="/">Voltar</a>
        </button>
    </main>

    <footer id="rodape">

    </footer>

</body>

</html>